{{ if and ($.Param "enableSidebarSeries") (ne (len .Site.Taxonomies.places) 0) }}
<div class="taxo">
    <section>
        <span class="title p2">
            <a href="{{ "/places/" | relLangURL }}" class="taxo__title">
                {{ i18n "places" }}
            </a>
        </span>
        {{ $minItemsToShowInTagCloud := $.Site.Params.minItemsToShowInTagCloud }}
        {{ range $index, $element := .Site.Taxonomies.places }}
        {{ if and $index (ge (len $element) $minItemsToShowInTagCloud) }}
            <span class="tag">
                <a href="{{ $element.Page.RelPermalink }}" class="is-series taxo__link" data-dir="{{ if ne ($.Param "languagedir") "rtl" }}ltr{{ else }}rtl{{ end }}">
                    <span class="taxo__text">
                        {{ $element.Page.Title }}
                    </span>
                    <span class="taxo__num" dir="auto">
                        {{ printf "%#v" (len $element) }}
                    </span>
                </a>
            </span>
        {{ end }}
        {{ end }}
    </section>
</div>
{{ end }}
